

<!-- PORTFOLIO SECTION  -->	
<section id="portfolio-section">
	<div class="container">
		<div class="row">	
<!-- PORTFOLIO  HEADER -->
			<div class="text-center">
				<header>
					<div class="span12 text-center page-header">
							
								<h3>
								<span class="white">
								RECENT WORKS - <span class="main-color"> PORTFOLIO</span> &amp; <span class="main-color">PROJECTS</span>
								</span>
								</h3>
								
					</div>
							
								
				</header><!-- / PORTFOLIO SECTION HEADER-->
			</div><!-- /text center-->
		</div><!--/ROW-->
	</div><!--/CONTAINER-->

	<div class="container">
		
		<!--###################-->
		<!-- START PORTFOLIO ITEM -->
		<!--###################-->
		<div id="container-folio" class="row">
		
		
		
		<!-- portfolio item -->
		<div class="span6  project-item graphics box">
		
		<div id="myCarousel" class="carousel slide">
			
			  <!-- Carousel items -->
			  <div class="carousel-inner">
				<div class="active item"><a rel="prettyPhoto[gallery]" href="images/SnapShot.png" title="portfolio image">
					<img src="images/covario.jpg" alt="ScrollStrap" />
				</a>
				
				</div>
				<div class="item"><a rel="prettyPhoto[gallery]" href="images/SnapShot.png" title="portfolio image">
					<img src="images/eq2.jpg" alt="ScrollStrap" />
				</a>
					<div class="carousel-caption">
						
							<p class="">
								<strong><span class="main-color">THIS Bootstrap</span></strong> 
								Carousel integrated with PrettyPhoto jQuery plugin. Just click on photo for enlarge it.			
								</p>
						
					</div>
				</div>
				<div class="item"><a rel="prettyPhoto[gallery]" href="images/SnapShot.png" title="portfolio image">
					<img src="images/SnapShot.png" alt="ScrollStrap" />
				</a>
				<div class="carousel-caption">
						
							<p class="">
								<strong><span class="main-color">THIS Bootstrap</span></strong> 
								Carousel integrated with PrettyPhoto jQuery plugin. Just click on photo for enlarge it.			
								</p>
						
					</div>
				</div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
			
		</div><!-- END: portfolio item -->

		<!-- portfolio item -->
		<div class="span6  project-item graphics box">
			
							
							<h4 class="main-color-line">
								<span class="white">
								<strong>INTRODUCING <span class="main-color">SCROLL&amp;STRAP</span></strong>  
								</span>
								</h4>
							
								<p class="lead">
								We work really hard for build this awesome template!
								We hope that this project will be appreciated by you and your customers!
								</p>
								<p class="lead">
								We work really hard for build this awesome template!
								We hope that this project will be appreciated by you and your customers!
								</p>
								
								
								<p class="">								
								
									<a href="#" class="btn btn-action">
									<i class="fa-icon-link"></i> 
									Visit project site
								</a>
								
								</p>
		
							
		</div><!-- END: portfolio item -->
		
		</div><!--/ ROW FEATURED-->
		
		<div class="container">
		<div class="row">	
<!-- PORTFOLIO  HEADER -->
			<div class="text-center">
				<header>
					<div class="span12 text-center page-header">
							
								<h3>
								<span class="white">
								MORE <span class="main-color">FEATURED PROJECTS</span> 
								</span>
								</h3>
								
					</div>
							
								
				</header><!-- / PORTFOLIO SECTION HEADER-->
			</div><!-- /text center-->
		</div><!--/ROW-->
	</div><!--/CONTAINER-->
		<div class="row">
		<!-- portfolio item -->
		<div class="span3  project-item graphics box">
			<div class="thumbnail" >
				<!-- IMAGE CONTAINER-->
				<a rel="prettyPhoto[gallery]" href="images/buttons.jpg" title="portfolio image">
					<img src="images/buttons.jpg" alt="iPhonegraphy" /> 
				</a>
				<!--END IMAGE CONTAINER-->
				<!-- CAPTION --> 
				<div class="caption">
					<h4 class="">15 custom buttons</h4>
						<p class="caption-descr">
						This project presents beautiful style graphic &amp; design. Scroll&amp;Strap provides modern features 
						</p>	
				</div><!--END CAPTION --> 
			</div><!-- END: THUMBNAIL -->
		</div><!-- END: portfolio item -->
		
			<!-- portfolio item -->
		<div class="span3  project-item graphics box">
			<div class="thumbnail" >
				<!-- IMAGE CONTAINER-->
				<a rel="prettyPhoto[gallery]" href="images/transitions.jpg" title="portfolio image">
					<img src="images/transitions.jpg" alt="iPhonegraphy" /> 
				</a>
				<!--END IMAGE CONTAINER-->
				<!-- CAPTION --> 
				<div class="caption">
					<h4 class="">Transitions effects</h4>
						<p class="caption-descr">
						This project presents beautiful style graphic &amp; design. Scroll&amp;Strap provides modern features
						</p>	
				</div><!--END CAPTION --> 
			</div><!-- END: THUMBNAIL -->
		</div><!-- END: portfolio item -->
		
			<!-- portfolio item -->
		<div class="span3  project-item graphics box">
			<div class="thumbnail" >
				<!-- IMAGE CONTAINER-->
				<a rel="prettyPhoto[gallery]" href="images/gmap.jpg" title="portfolio image">
					<img src="images/gmap.jpg" alt="iPhonegraphy" /> 
				</a>
				<!--END IMAGE CONTAINER-->
				<!-- CAPTION --> 
				<div class="caption">
					<h4 class="">Responsive gMap</h4>
						<p class="caption-descr">
						This project presents beautiful style graphic &amp; design. Scroll&amp;Strap provides modern features
						</p>	
				</div><!--END CAPTION --> 
			</div><!-- END: THUMBNAIL -->
		</div><!-- END: portfolio item -->
		
			<!-- portfolio item -->
		<div class="span3  project-item graphics box">
			<div class="thumbnail" >
				<!-- IMAGE CONTAINER-->
				<a rel="prettyPhoto[gallery]" href="images/price.jpg" title="portfolio image">
					<img src="images/price.jpg" alt="iPhonegraphy" /> 
				</a>
				<!--END IMAGE CONTAINER-->
				<!-- CAPTION --> 
				<div class="caption">
					<h4 class="">Pricing tables</h4>
						<p class="caption-descr">
						This project presents beautiful style graphic &amp; design. Scroll&amp;Strap provides modern features
						</p>	
				</div><!--END CAPTION --> 
			</div><!-- END: THUMBNAIL -->
		</div><!-- END: portfolio item -->
		  
		</div><!--/innner folio row-->
	
  
	
	</div><!--CONTAINER-->
	<div class="container">
		<div class="row">	
<!-- VIDEO  HEADER -->
			<div class="text-center">
				<header>
					<div class="span12 page-header">
							
								<h3>
								<span class="white">
								PROJECT WITH <span class="main-color"> RESPONSIVE VIDEO</span></span>
								</h3>
								
					</div>
							
								
				</header><!-- / VIDEO SECTION HEADER-->
			</div><!-- /text center-->
		</div><!--/ROW-->
	</div><!--/CONTAINER-->
	
	<div class="container">
				<div class="row-fluid">
				<!-- SLIDER SIDE -->
				<div class="span8">
						<div class="vendor">
							<div class="container-video">
								<div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="http://player.vimeo.com/video/35108500?color=ffffff" id="fitvid862574"></iframe></div> 
							</div>
						</div>
						<div class="well">
						<p>
						Description of video. Few words about your project video.
						</p>
						</div>
						
				</div>
			<!-- END: SLIDER SIDE -->
			<!-- PORTFOLIO ASIDE -->
			<div class="span4">
					<!-- TITLE -->
			<h4 class="main-color-line">Project with responsive video </h4>
					 
					 <!-- PARAGRAPH -->
					<p>
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p class="visible-desktop">
					Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<!-- END PARAGRAPH -->
					<!-- DEVIDER LINE -->
					<div class="no-color-line-no-border3"></div>
					<hr class="half2">
					<!-- ACTION BUTTON -->
					<a class="btn btn-info btn-large btn-block btn-green-alt" href="#" title="">Lern more!</a>
					<!-- END ACTION BUTTON -->
			</div>
			<!-- PORTFOLIO ASIDE -->
			</div>
  
	</div>
</section><!--/ portfolio section-->