

<!-- /SLOGAN section-->
<section class="" id="slogan-section-3">
<div class="container">
	<div class="row-fluid">
		<span class="logo"><!--LOGO-->
			<a href="#" title="Scroll&amp;Strap">
				<img src="assets/img/logo_1_orange.png" alt="logo"/>
			</a>
		</span><!--/ LOGO-->
		
		<div class="span12 text-center">
			<span class="large-slogan main-color">
				Scroll&amp;Strap   
			</span>
			<span class="large-slogan">
				- modern Bootstrap one page 
			</span>
			<span class="large-slogan">
				template with parallax effect and smooth scrolling. 
			</span>
			<span class="large-slogan">
				Scroll&amp;Strap provides modern design features!
			</span>
			<span class="large-slogan">
				Ready to buy? Check out our price!
			</span>
		</div><!-- /span12-->
	</div><!-- /row-fluid-->
			
			<!-- GOBOTTOM BUTTON-->
			<div class="row-fluid">
				<div class="span12 text-center">
					<span class="goprice" id="nav4">
					<a href="#price-section" title="">
						<i class="fa-icon-double-angle-down fa-icon-large"></i>
					</a>
					</span>
				</div>
			</div>
			<!-- / GOBOTTOM BUTTON-->	
			
	</div><!-- /container-->
</section><!--/SLOGAN section-->

<section id="price-section">
<!-- PRICE SECTION HEADER ############# -->
	<div class="container">
		<div class="row">
			<div class="text-center">
				<header id="portfolio">
					<div class="span12 text-center page-header">
						<h3>
							<span class="white">
								<span class="main-color">PRICING</span> TABLES
							</span>
						</h3>
					</div>
				</header>	
			</div>
		</div>
	</div>
<!-- / PRICE SECTION HEADER ############# -->

<!-- PRICE SECTION ############# -->
<div class="container">
	<div class="row-fluid">
			<div class="span4">
			<div class="pricing-table">
                <div class="pricing-table-header">
				
                    <span class="heading">Single applications</span>
                    <span class="price-value">$<span>14</span><span class="mo"><!--/mo--></span></span>
               
				</div>
                <div class="pricing-table-space"></div>
                <div class="pricing-table-features">
                   <p><i class="fa-icon-ok main-color"></i> <strong>Single</strong> installation</p>
				   <p><strong> Unlimited </strong> Support</p>
				   <p><strong>Validation</strong> W3C</p>
				   <p><strong>Bootstrap</strong> 2.3.0</p>
                   <p><strong>HTML5</strong> & <strong> CSS3</strong></p>
              </div>
                <div class="pricing-table-sign-up">
                  <a href="#" class="btn btn-large btn-block btn-inverse">BUY NOW!</a>
                </div>
            </div>
			</div>

		<div class="span4">
            <div class="pricing-table pricing-table-highlighted">
                <div class="pricing-table-header">
				
                    <span class="heading">Multiple applications</span>
                    <span class="price-value">$<span>60</span><span class="mo"><!--/mo--></span></span>
                
				</div>
                <div class="pricing-table-space"></div>
                <div class="pricing-table-text">
                    <p><span class="attention">  RECOMMENDED</span></p>
					
                </div>
                <div class="pricing-table-features">
                    <p><i class="fa-icon-ok main-color"></i> <strong>Multiple</strong> installation</p>
                   <p><strong> Unlimited </strong> Support</p>
				   <p><strong>Validation</strong> W3C</p>
				   <p><strong>Bootstrap</strong> 2.3.0</p>
                    <p><strong>HTML5</strong> & <strong> CSS3</strong></p>
                </div>
                <div class="pricing-table-sign-up">
                    <a href="#" class="btn btn-large btn-block btn-warning">BUY NOW!</a>
                </div>
            </div>
		</div>
			
		<div class="span4">
            <div class="pricing-table">
                <div class="pricing-table-header">
				
				<span class="heading">Extended license</span>
                    <span class="price-value">$<span>750</span><span class="mo"><!--/mo--></span></span>
                </div>
                <div class="pricing-table-space"></div>
				
                <div class="pricing-table-features">
                   <p><i class="fa-icon-ok main-color"></i> <strong>Unlimited</strong> license</p>
                   <p><strong> Unlimited </strong> Support</p>
				   <p><strong>Validation</strong> W3C</p>
				   <p><strong>Bootstrap</strong> 2.3.0</p>
                   <p><strong>HTML5</strong> & <strong> CSS3</strong></p>
                </div>
            <div class="pricing-table-sign-up">
                    <a href="#" class="btn btn-large  btn-block btn-inverse">BUY NOW!</a>
            </div>
        </div> 
	</div>
	</div><!-- / row-fluid-->
</div><!-- / CONTAINER-->	
<hr/>
<!-- PRICE SECTION SLOGAN ############# -->
	<div class="container">
		<div class="row">
			<div class="text-center">
				
					<div class="span12 ">
						<div class="well">
							<div class="well-wrapp">
								<p class="lead text-large text-center">
									Buy 
									<span class="main-color"><strong>Scroll&amp;Strap</strong>
									</span> awesome parallax template now!  Limited time for lower price <span class="main-color"><strong>$14</strong></span>!
							</p>
							</div>
						</div>
					</div>
					
			</div>
		</div>
	</div>
<!-- / PRICE SECTION SLOGAN ############# -->	
</section><!-- PRICE SECTION ############# -->