<!-- /SERVICE SECTION-->
<section  id="features-section" class="section-2">
	<div class="bg-wraper parallax-point-event">
	<div class="container">
		<div class="row-fluid">
	<!-- PROJECTS HEADER-->
			<header class="" >
				<div class="text-center page-header">
					<h3 class="">
						<span class="white"><!-- WHITE SPACE-->
							WHAT WE DO
						</span>
					</h3>
				</div>
			</header>
		</div>
</div><!-- /SERVICE HEADER-->
	<div class="container">
		<div class="row-fluid">
		<!-- FEATURE ITEM-->
			<div class="span3 effect-box-1">
				<span class="label label-warning lines-bg-color text-center">
								<i class="fa-icon-fullscreen fa-icon-large"></i>
				</span>
				<h4 class="features-title">
					<span class="main-color">Software</span> Architecture
				</h4>
				<p class="">

Let us make your software or help you make it better. Mindhaus works with clients to develop scalable solutions for the web. Whether you want to leverage the cloud to serve millions of users one day and hundreds of millions the next or just need help understanding how to evolve your web application architecture, mindhaus can provide innovative solutions to achieve your goals.
	</div><!-- END FEATURE ITEM-->


		<!-- FEATURE ITEM-->
		<div class="span3 effect-box-2">
			<span class="label label-warning lines-bg-color text-center">
			<i class="fa-icon-tint fa-icon-large"></i>
			</span>
			<h4 class="features-title">
				<span class="main-color">Designer  </span>Friendly
			</h4>
			<p class=""> We combine creative forces with systematic activists. All ideas require implementation and our multi-disciplined netproject fosters a wide array of abilities that empower visionaries and entrepreneurs to lead meaningful brands.</p>
		</div><!-- END FEATURE ITEM-->

		<!-- FEATURE ITEM-->
		<div class="span3 effect-box-3">
			<span class="label label-warning lines-bg-color text-center">
			<i class="fa-icon-thumbs-up fa-icon-large"></i>
			</span>
			<h4 class="features-title">
				<span class="main-color">Faster</span> Setup
			</h4>
			<p class=""> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and maintain the best minds.</p>
		</div>
		<!-- END FEATURE ITEM-->
		<!-- FEATURE ITEM-->
		<div class="span3 effect-box-4">
			<span class="label label-warning lines-bg-color text-center">
			<i class="fa-icon-spinner fa-icon-spin fa-icon-large "></i>
			</span>
			<h4 class="features-title">
				<span class="main-color">Modern</span> features
			</h4>
			<p class=""> Inspired Thinking. Ask smarter questions, push for innovative solutions and believe in the power of creativity. Be consistently open and honest. Be true to ourselves and our values. Find, stimulate and maintain the best minds.</p>
		</div>
		<!-- FEATURE ITEM-->
		</div><!--/ ROW-FLUID-->
		<hr/>


	<div class="row-fluid">
		<div class="well">
			<div class="well-wrapp">
				<p class="lead text-large text-center">

						<span class="main-color">
							Scroll&amp;Strap
						</span> - modern Bootstrap onepager with parallax effect and smooth scrolling
				</p>
	<span class="btn-box">
		<a href="#" class="btn btn-icon-large  btn-large  btn-action btn-block-third">
		<i class="fa-icon-download-alt fa-icon-large"></i>
		Buy now!
		</a>
			<i class="or">- or - </i>
			<span id="nav3">
				<a href="#slogan-section-2" class="btn btn-icon-large  btn-large  btn-green-alt btn-block-third"><i class="fa-icon-info-sign fa-icon-large"></i> Show me more!</a>
			</span>
	</span>

				</div>
			</div>
		</div><!-- /row-fluid-->
	</div><!--/CONTAINER-->
</div><!-- / BG WRAPER-->

</section>

	<!-- /FEATURE section-->

	<!-- /SLOGAN section-->
	<section class="section-3" id="slogan-section-2">
		<div class="bg parallax-point-event">
			<div class="container">

			<!-- BADGE FEATURED-->
			<div class="row-fluid">
				<div class="span12 text-center">
					<div class="featured-badge orange">
						FEATURED PROJECT
					</div>
				</div>
			</div>
			<!-- / BADGE FEATURED-->

			<!--  FEATURED ITEMS -->
					<div class="browser-shot-2">
						<div class="browser-header"></div>
						<img src="images/SnapShot.png" alt=""/><!-- PLACE YOUR IMAGE HERE -->
					</div>
					<div class="browser-shot-1">
						<div class="browser-header"></div>
						<img src="images/SnapShot.png" alt=""/>
					</div>
					<div class="browser-shot-3">
						<div class="browser-header"></div>
						<img src="images/SnapShot.png" alt=""/>
					</div>
			<!--  FEATURED ITEMS -->



			</div><!-- /container-->
		</div><!-- /row-->

</section> <!--/SLOGAN section-->


