
<!-- /SLOGAN section-->
<section class="" id="slogan-section-1">
	<div class="bg">
	<div class="container">
	<!-- SLOGAN-->
			<div class="row-fluid">
				<span class="logo"><!--LOGO-->
					<a href="#" title="Scroll&amp;Strap">
						<img src="assets/img/logo_1_orange.png" alt="logo">
					</a>
				</span>
					
				<div class="span12 text-center">
					<span class="large-slogan main-color">
						SCROLL&amp;STRAP - responsive parallax onepager
					</span>
					<span class="large-slogan main-color">
						provides modern and clear design
					</span>
				</div><!-- /span12-->	
			</div><!-- /row-fluid-->
<!-- / SLOGAN-->

<!-- BUTTON GO BOTTOM -->
			<div class="row-fluid">
				<div class="span12 text-center">
					<span class="goprice active" id="nav5">
					<a href="#portfolio-section" title="">
						<i class="fa-icon-double-angle-down fa-icon-large"></i>
					</a>
				</span></div>
			</div>
<!-- / BUTTON GO BOTTOM -->			
	</div><!-- /container-->
	</div><!-- BG-->
</section><!--/SLOGAN section-->