			
<!-- HEADER MARKETING SLOGAN-->
<header class="container">
	<div class="row-fluid">
		<div class="wrap-hero">
			<div class="hero-unit text-center">
				<!--LOGO-->
				<div class="logo">
					<a href="#" title="Scroll&amp;Strap">
						<img src="images/Logo-Vertical.png" alt="logo"/>
					</a>
				</div>
				<!--/ LOGO-->
				<div class="inner-wrap-hero">
					<h1 class="text-center main-color">
						<span>evolve your web application architecture</span>
						<span class="visible-desktop">Let us make your software or help you make it better</span>
					</h1>
				</div>
				
			<span class="gobottom" id="nav2">
					<a href="#features-section" title="">
						<i class="fa-icon-chevron-down fa-icon-large"></i>
					</a>
			</span>
				
			
			</div>	
		</div><!-- / HERO UNIT-->
	</div><!-- / HERO WRAP-->
</header><!-- / HEADER MARKETING SLOGAN container-->
